<ul>
  @for(presentation of presentations; track presentation.id) {
    <li>
      {{ presentation.title }}
      @for(format of presentation.formats; track format.id) {
        <span class="format">
          [<a [routerLink]="'/timer/' + presentation.id + '/' + format.id">{{ format.duration }}</a>]
        </span>
      }
    </li>
  }
</ul>