:host {
  background-color: #343434;
  height: 100dvh;
  width: 100dvw;
  display: block;
}

ul {
  counter-reset: index;
  padding: 0;
  max-width: 60dvw;
  color: #f0f0f0;
  width: 70%;
  margin: auto;
}

li {
  counter-increment: index;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;

  a {
    color: inherit;
    text-decoration: none;
  }
}

li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: -webkit-gradient(linear, left top, left bottom, from(aquamarine), to(orangered));
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.format {
  margin-left: 5px;
}
