<div (click)="start()" class="panes">

  <div class="counter-pane">
    <span class="counter">{{ minutes | number: '2.0-0' }}:{{ seconds | number: '2.0-0'}}</span>
  </div>

  <div [class.ahead]="currentDiff < 0" [class.late]="currentDiff > 0" class="split-pane">
  @if (currentSplit) {
    <span class="title">{{ currentSplit.title }}</span>
    <span class="diff">{{ currentDiff | duration }}</span>
  }
  </div>

</div>
