.timing {
  font-size: 2em;
  font-weight: bolder;
}

.panes {

  display: flex;
  flex-direction: column;
  height: 100dvh;

  .counter-pane {
    font-variant-numeric: tabular-nums;
    display: flex;
    flex: 0 0 50%;
    background: #343434;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;

    .counter {
      font-size: 1200%;
    }

  }

  .split-pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
    background: #f0f0f0;

    .title, .diff {
      font-size: 500%;
      height: 25dvh;
    }
    .diff {
      font-size: 1000%;
    }
  }

  .late {
    background: darkred;
    color: #f0f0f0;
  }

  .ahead {
    background: darkgreen;
    color: #f0f0f0;
  }
}

